<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 553746b80743bf67fd7291e40cdc0369434bb5ef
/* .App {
  text-align: 
} */
=======
.App {
  text-align: ;
}
>>>>>>> 87aac61189bfd3df9c54de8a618ab5b9b2de7cd8
<<<<<<< HEAD
=======
/* .App {
  text-align: ;
} */
>>>>>>> master
=======
>>>>>>> 553746b80743bf67fd7291e40cdc0369434bb5ef
=======
/* .App {
  text-align: ;
} */
>>>>>>> master

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header { 
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}